@tailwind base;
@tailwind components;
@tailwind utilities;

/* Texts */
.title{
  @apply  text-5xl max-lg:text-3xl font-bold text-gray-900 ;
}
.subtitle{
  @apply text-3xl max-lg:text-xl font-medium text-gray-700;
}

.text-title{
  @apply text-2xl max-lg:text-lg font-medium text-gray-900;
}

.text{
  @apply text-gray-700 text-lg max-lg:text-base max-lg:group-hover:text-lg group-hover:text-xl group-hover:text-gray-900 duration-300 max-lg:duration-150;
}

/* lists */

.skill-list{
  @apply mt-3 flex flex-wrap gap-2 max-lg:justify-center;
  .main-skills{
    @apply bg-gray-800 text-white hover:bg-blue-600 duration-200 px-3 py-1 rounded-full;
  }
  .secondary-skills{
    @apply bg-blue-600 text-white hover:bg-gray-800 duration-200 px-3 py-1 rounded-full;
  }
  .tertiary-skills{
    @apply bg-orange-600 text-white hover:bg-red-600 duration-200 px-3 py-1 rounded-full;
  }
  .general-skills{
    @apply bg-gray-200 text-gray-700 hover:bg-gray-800 hover:text-white duration-200 px-3 py-1 rounded-full;
  }
}

/* Animations */

.animate-slide-right {
  animation: slide-right 0.7s ease-out;
}


.animate-slide-left {
  animation: slide-left 0.7s ease-out;
}

@keyframes slide-right {
  0% {
    opacity: 50;
    transform: translateX(-100%);
  }

  100% {   
    opacity: 100; 
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 50;
    transform: translateX(100%);
  }
  100% {   
    opacity: 100; 
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  opacity: 1;
  animation: fade-in 1s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}


